*{
	margin: 0;
	padding: 0;
}
body{
    font-family: monospace !important;
    background-image: url(./img/beeds.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 100vh;
    text-align: center;
}
.them{
    background-image: url(./img/them.jpg) !important;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-weight: bold;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d39c24;
  display: block;
  float: left;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.container{
	max-width: 500px;
  margin: 0 auto;
}
.center {
  width: 100%;
  float: left;
}
.counterBg input {
    padding: 10px 20px;
    border-radius: 60px 60px 50px 50px;
    color: #e8ac28e8;
    background: radial-gradient(#f7f7f7, transparent);
    border: 1px solid #00000052;
    text-shadow: 1px -1px black;
    font-size: 36px;
    margin: 10px 0px;
    width: 50%;
}
button.left_btn{
    float: left;
	  margin: 10px;
    border-radius: 60px 60px 50px 50px;
    padding: 25px 15px 15px 20px;
    background: radial-gradient(#f7f7f7, transparent);
    border: 1px solid #00000052 !important;
    color: #e8ac28e8;
    font-weight: bold !important;
    font-size: 22px;
    cursor: pointer;
    text-shadow: 1px -1px black;
}
button.right_btn{
    float: right;
    margin: 10px;
    border-radius: 60px 60px 50px 50px;
    padding: 25px 15px 15px 20px;
    background: radial-gradient(#f7f7f7, transparent);
    border: 1px solid #00000052 !important;
    color: #e8ac28e8;
    font-weight: bold !important;
    font-size: 22px;
    cursor: pointer;
    text-shadow: 1px -1px black;
}
.lister{
  float: left;
  width: 100%;
}
.lister ul {
    width: 100%;
    float: left;
}
.lister li {
    margin: 5px 0px;
    list-style-type: disclosure-closed;
    width: 85%;
    float: left;
    padding: 15px 35px;
    border-radius: 60px 60px 50px 50px;
    color: #e8ac28e8;
    background: radial-gradient(#f7f7f7, transparent);
    border: 1px solid #00000052;
    text-shadow: 1px -1px black;
    font-size: 25px;
    list-style-position: inside;
    text-align: justify;
}
span.navuser{
    padding: 0px 20px;
    font-size: 70px;
    cursor:pointer;
    float: left;
    color: #e18220;"
}
@media only screen and (max-width: 620px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
    .counterBg button{
      margin: 5px 0px;
    }
    .counterBg input {
      width: 40%;
    }
    .sidenav a {
    margin: 15px 15px;
    float: left;
    transition: 0.3s;
    }
    span.navuser {
    text-align: center;
    float: none;
    width: 100%;
    }
    .lister li {
    margin: 5px 10px;
    width: 77%;
    float: none;
    }
}